* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #222;
  color: #222;
}

a {
  color: #01579B;
  text-decoration: none;
  border-bottom: .125em;
  transition: all linear .125s;
    &:hover {
      border-bottom: .2em solid #01579B;
    }
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

/*
 * GRID YAY
 */
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.one-quarter {
  width: 25%;
  padding: 1rem;
}

.one-half {
  width: 49%;
  display: inline-block;
}

@media all and (max-width: 60rem) {
  .one-quarter {
    width: 50%;
  }

  .one-half {
    width: 100%;
  }
}

@media all and (max-width: 40rem) {
  .one-quarter {
    width: 100%;
  }

  .one-half {
    width: 100%;
  }
}


.one-whole {
  width: 100%;
  padding: 1rem;
}
[data-state="hidden"] {
  display: none;
}
/*
 * HEADER
 */
.header {
  background: #fff;
  padding: 2rem;
}

nav a {
  border: 1px solid #ddd;
  padding: .5rem;
  display: inline-block;
  margin: .25rem;
  border-radius: .25rem;

    &:hover,
    &.active {
      color: #fff;
      background: #01579b;
      border-bottom: none;
    }
}

.concert {
  padding: 1.5rem;
  background: #fff;
  border: none;
}

.concert {
  border-left-width: .5rem;
  border-left-style: solid;

  &--2015 {
    border-left-color: #673AB7;
  }

  &--2014 {
    border-left-color: #3F51B5;
  }

  &--2013 {
    border-left-color: #03A9F4;
  }

  &--2012 {
    border-left-color: #009688;
  }

  &--2011 {
    border-left-color: #CDDC39;
  }

  &--2010 {
    border-left-color: #FFEB3B;
  }

  &--2009 {
    border-left-color: #FF5722;
  }
}

.loader-wrap {
  width: 48rem;
  margin: 0 auto;
  padding: 1.5rem;
  overflow: hidden;
}

.loader {
  color: #111;
  font-size: 5rem;
  text-align: center;
  text-shadow: .15rem .15rem 0 #333;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: .25rem;
      background: #2196F3;
      animation: loader linear 1.5s infinite;
      transform: translateX(-100%);
    }
}

@keyframes loader {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translate(100%);
  }
}

input {
  width: 100%;
  font-size: 1rem;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  border: 1px solid #dadada;
}

.footer {
  padding: 1.5rem;
  background: #111;
  color: #fefefe;

}

.heart {
  color: #E53935;
}
